body{
    color: white;
}
.formTicket{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 35%;
}

#submit{
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 50px;
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #e3b405;
    padding: 20px;
    border: 2px solid #171617 !important;
    display: inline-block;
    transition: all 0.4s ease 0s
}
#submit:hover{
    color:#ffffff!important;
    background:#171617;
    border-color:#e3b405!important;
    transition:all 0.4s ease 0s
}
